<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>AirCarbon</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#06849B">
    <meta name="msapplication-navbutton-color" content="#06849B">
    <meta name="apple-mobile-web-app-status-bar-style" content="#06849B">
</head>
<body>

${require('../parts/header-v2.html')}
<main class="main">
    <div class="section main-screen media-main">
        <img src="../../images/pixel.jpg" data-original="../../images/media-main-bg.jpg" class="lazy" alt="">
        <div class="container-lg">
            <span class="media-main__title">ACX <br>Press Release & Notices</span>
        </div>
    </div>
    <div class="media-content">
        <div class="container-lg">
            <div class="media-links">
                <a href="javascript:void(0)" class="current">Media Release</a>
                <a href="javascript:void(0)">Past Events</a>
                <a href="javascript:void(0)">ACX Commentary</a>
            </div>
            <div class="media-sort">
                <span>Sort by:</span>
                <select class="select">
                    <option selected>Date</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
            </div>
            <div class="media-release__main">
                <a href="javascript:void(0)" class="media-release__item">
                    <div class="media-release__date">12 OCT 2022</div>
                    <div class="media-release__text">AirCarbon Exchange Partners With C-Quest Capital on First-Ever Auction of LED Carbon Credits</div>
                </a>
                <a href="javascript:void(0)" class="media-release__item">
                    <div class="media-release__date">23 SEP 2022</div>
                    <div class="media-release__text">AirCarbon Exchange Wins Environmental Finance’s Best Carbon Exchange Award for 2022</div>
                </a>
                <a href="javascript:void(0)" class="media-release__item">
                    <div class="media-release__date">16 AUG 2022</div>
                    <div class="media-release__text">AirCarbon Exchange selects Eventus as partner to introduce first comprehensive market surveillance program for Voluntary Carbon Market</div>
                </a>
                <a href="javascript:void(0)" class="media-release__item">
                    <div class="media-release__date">08 AUG 2022</div>
                    <div class="media-release__text">AirCarbon Exchange Offsets Emissions Through to December 2023</div>
                </a>
                <a href="javascript:void(0)" class="media-release__item">
                    <div class="media-release__date">06 JUL 2022</div>
                    <div class="media-release__text">AirCarbon Exchange Signs Collaboration Agreement with the Nairobi International Financial Centre and the Nairobi Securities Exchange</div>
                </a>
            </div>
            <div class="pagination-wrapper">
                <a href="javascript:void(0)" class="btn brn-gradient prev disabled">&#60; Prev Page</a>
                <ul class="pagination">
                    <li class="current">
                        <a href="javascript:void(0)">1</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">2</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">3</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">...</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">6</a>
                    </li>
                </ul>
                <a href="javascript:void(0)" class="btn brn-gradient next">Next Page &#62;</a>
            </div>
        </div>
    </div>
</main>
${require('../parts/footer.html')}

</body>
</html>
