<!DOCTYPE html>
<html>

<body>
<div class="container" style="padding-top: 200px;">
    <h1 style="color:#13468C; font-weight: 400;">AirCarbon Status Page</h1>
    <ul>
        <li>
            <a href="/" style="color:#043451; font-size: 18px; line-height: 150%;">Home page</a>
        </li>
        <li>
            <a href="/exchange" style="color:#043451; font-size: 18px; line-height: 150%;">Exchange</a>
        </li>
        <li>
            <a href="/what-we-do" style="color:#043451; font-size: 18px; line-height: 150%;">What We Do</a>
        </li>
        <li>
            <a href="/exchange-v2" style="color:#043451; font-size: 18px; line-height: 150%;">Exchange (Redesign
                version)</a>
        </li>
        <li>
            <a href="/what-we-do-v2" style="color:#043451; font-size: 18px; line-height: 150%;">What We Do (Redesign
                version)</a>
        </li>
        </li>
        <li>
            <a href="/products" style="color:#043451; font-size: 18px; line-height: 150%;">Products</a>
        </li>
        <li>
            <a href="/about" style="color:#043451; font-size: 18px; line-height: 150%;">About</a>
        </li>
        <li>
            <a href="/partners" style="color:#043451; font-size: 18px; line-height: 150%;">Partners</a>
        </li>
        <li>
            <a href="/work" style="color:#043451; font-size: 18px; line-height: 150%;">Work</a>
        </li>
        <li>
            <a href="/media-release" style="color:#043451; font-size: 18px; line-height: 150%;">Media Release</a>
        </li>
        <li>
            <a href="/media-release-view" style="color:#043451; font-size: 18px; line-height: 150%;">Media Release View</a>
        </li>
        <li>
            <a href="/commentary" style="color:#043451; font-size: 18px; line-height: 150%;">Commentary</a>
        </li>
        <li>
            <a href="/commentary-view" style="color:#043451; font-size: 18px; line-height: 150%;">Commentary View</a>
        </li>
    </ul>
</div>
</body>

</html>
