<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>AirCarbon</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#06849B">
    <meta name="msapplication-navbutton-color" content="#06849B">
    <meta name="apple-mobile-web-app-status-bar-style" content="#06849B">
</head>
<body>

${require('../parts/header.html')}
<main class="main">
    <div class="section what-we-do-main">
        <img src="../../images/pixel.jpg" data-original="../../images/what-we-do-main.jpg" class="lazy" alt="">
        <div class="container-lg">
            <div class="main-topline">
                <div class="topline-slider slick-slider"
                     data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "centerMode": true, "centerPadding": 0, "autoplay": true, "arrows": false, "dots": false, "infinite": true, "responsive":[{"breakpoint":1679,"settings":{"slidesToShow": 3, "variableWidth": true}}, {"breakpoint":574,"settings":{"slidesToShow": 1, "variableWidth": false}}]}'>
                    <div class="slide">
                        <span>8/10/2022 </span>
                        <span>SDT TRADING AT: USD$8.75</span>
                    </div>
                    <div class="slide">
                        <span>8/10/2022 </span>
                        <span>HOT Trading at: USD$9.25</span>
                    </div>
                    <div class="slide">
                        <span>8/10/2022 </span>
                        <span>FCC TRADING AT: USD$9.05</span>
                    </div>
                    <div class="slide">
                        <span>8/10/2022 </span>
                        <span>GNT+ Trading at: USD$8.15</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-lg">
            <div class="what-we-do-main__title">Headline placeholder. Lorem ipsum dolor
                sit amet, consectetur utica adipiscing elit.
            </div>
            <div class="what-we-do-main__text">
                <div class="what-we-do-main__text-item">
                    <div class="what-we-do-main__text-title">Subhead placeholder. Crci quis est egestas, eu <span>keyword</span>
                        velit efficitur.
                    </div>
                    <div class="what-we-do-main__text-body">
                        Body copy placeholder. Nullam tristique blandit posuere. Nullam tincidunt orci nec magna laoreet
                        elementum. Nulla congue ipsum velit, nec varius elit consectetur at. Ut elementum justo ut
                        sapien eleifend, at efficitur ipsum lacinia. Aenean id tempus risus. Praesent ac magna massa.
                    </div>
                </div>
                <div class="what-we-do-main__text-item">
                    <div class="what-we-do-main__text-title">Subhead placeholder. Crci <span>keyword</span> egestas, eu
                        ullamcorper velit efficitur.
                    </div>
                    <div class="what-we-do-main__text-body">
                        Body copy placeholder. Nullam tristique blandit posuere. Nullam tincidunt orci nec magna laoreet
                        elementum. Nulla congue ipsum velit, nec varius elit consectetur at. Ut elementum justo ut
                        sapien eleifend, at efficitur ipsum lacinia. Aenean id tempus risus. Praesent ac magna massa
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="what-we-do-section1">
        <div class="container-lg">
            <div class="section1">
                <div class="section1__title">Headline placeholder. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit.
                </div>
                <div class="section1__wrapper">
                    <div class="section1__item">
                        <div class="section1__item-title">Subhead placeholder. Crci quis egestas, eu ullamcorper
                            velit.
                        </div>
                        <div class="section1__item-text">
                            Body copy placeholder. Nullam tristique blandit posuere. Nullam tincidunt orci nec magna
                            laoreet elementum. Nulla congue ipsum velit, nec varius elit consectetur at. Ut elementum
                            justo ut sapien eleifend, at efficitur ipsum lacinia. Aenean id tempus risus. Praesent ac
                            magna massa. Donec non dui tincidunt, efficitur neque sit amet, tempor ligula. Nulla
                            facilisi. Sed posuere massa ipsum, vitae mollis enim blandit nec. Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit.
                        </div>
                    </div>
                    <div class="section1__item">
                        <div class="section1__item-title">Subhead placeholder. Crci quis egestas, eu ullamcorper
                            velit.
                        </div>
                        <div class="section1__item-text">
                            Body copy placeholder. Nullam tristique blandit posuere. Nullam tincidunt orci nec magna
                            laoreet elementum. Nulla congue ipsum velit, nec varius elit consectetur at. Ut elementum
                            justo ut sapien eleifend, at efficitur ipsum lacinia. Aenean id tempus risus. Praesent ac
                            magna massa. Donec non dui tincidunt, efficitur neque sit amet, tempor ligula. Nulla
                            facilisi. Sed posuere massa ipsum, vitae mollis enim blandit nec. Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="section1__link link">BUTTON EXAMPLE TEXT</a>
            </div>
        </div>
    </div>
    <div class="what-we-do-section2">
        <div class="section2">
            <div class="section2__about">
                <div class="section2__about-title">
                    SECTION TITLE PLACEHOLDER
                </div>
                <div class="section2__about-wrapper">
                    <div>
                        <span>TOPIC NAME</span>
                        <p>
                            Ut non quam diam. Nullam tristique blandit posuere. Nullam tincidunt orci nec magna laoreet
                            elementum. Nulla congue ipsum velit, nec varius elit consectetur at. Ut elementum justo ut.
                            Nam
                            dui mi, sagittis et felis pretium, iaculis fringilla urna. Vivamus at feugiat leo, ut
                            pulvinar
                            dui uspendisse interdum.
                        </p>
                    </div>
                    <div>
                        <span>TOPIC NAME</span>
                        <p>
                            Ut non quam diam. Nullam tristique blandit posuere. Nullam tincidunt orci nec magna laoreet
                            elementum. Nulla congue ipsum velit, nec varius elit consectetur at. Ut elementum justo ut.
                            Nam dui mi, sagittis et felis pretium, iaculis fringilla urna. Vivamus at feugiat leo, ut
                            pulvinar dui uspendisse interdum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="section2__photo">
                <img src="../../images/pixel.jpg" data-original="../../images/photo-01.jpg" class="lazy" alt="">
                <span>FPO: IMAGE PLACEMENT EXAMPLE</span>
            </div>
        </div>
    </div>
    <div class="what-we-do-section3">
        <div class="section3__wrapper">
            <div class="section3__photo">
                <img src="../../images/pixel.jpg" data-original="../../images/photo-02.jpg" class="lazy" alt="">
                <span>FPO: IMAGE PLACEMENT EXAMPLE</span>
            </div>
            <div class="section3__about">
                <div class="section3__about-title">
                    SECTION TITLE PLACEHOLDER
                </div>
                <p>
                    Ut non quam diam. Nullam tristique blandit posuere. Nullam tincidunt orci nec magna laoreet
                    elementum. Nulla congue ipsum velit, nec varius elit consectetur at. Ut elementum justo ut sapien
                    eleifend, at efficitur ipsum lacinia. Aenean id tempus risus.
                </p>
                <p>Aenean finibus tellus elit. Maecenas pellentesque mattis dolor vitae volutpat. Suspendisse dapibus
                    non mauris sed molestie. Sed tempor enim ut erat sagittis, eu dapibus ligula auctor. Praesent
                    sagittis risus non ante convallis vehicula. Mauris dolor odio, laoreet sit amet nunc et, imperdiet
                    placerat ante. Aliquam sit amet ultricies massa. Orci varius natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus.</p>
                <p>Ut non quam diam. Nullam tristique blandit posuere. Nullam tincidunt orci nec magna laoreet
                    elementum. Nulla congue ipsum velit, nec varius elit consectetur at. Ut elementum justo ut sapien
                    eleifend, at efficitur ipsum lacinia. Aenean id tempus risus.</p>
                <a href="javascript:void(0)" class="section3__link link">BUTTON EXAMPLE TEXT</a>
            </div>
        </div>
    </div>
    <div class="what-we-do-section4">
        <div class="container-lg">
            <div class="section4">
                <div class="section4__title">Text placeholder. Crci quis est egestas, eu ullamcorper velit. Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="section4__text">
                    <p>Body copy placeholder. Nullam tristique blandit posuere. Nullam tincidunt orci nec magna
                        laoreet elementum. Nulla congue ipsum velit, nec varius elit consectetur at. Ut elementum
                        justo ut sapien eleifend, at efficitur ipsum lacinia. Aenean id tempus risus. Praesent ac
                        magna massa. Donec non dui tincidunt, efficitur neque sit amet, tempor ligula. Nulla
                        facilisi. Sed posuere massa ipsum, vitae mollis enim blandit nec. Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit.</p>
                    <p>Body copy placeholder. Nullam tristique blandit posuere. Nullam tincidunt orci nec magna
                        laoreet elementum. Nulla congue ipsum velit, nec varius elit consectetur at. Ut elementum
                        justo ut sapien eleifend, at efficitur ipsum lacinia. Aenean id tempus risus. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-partners">
        <div class="container-lg">
            <ul class="exchange-brands__list">
                <li>
                    <img src="../../images/pixel.png" data-original="../../images/exchange-logo-01.png" class="lazy"
                         alt="">
                </li>
                <li>
                    <img src="../../images/pixel.png" data-original="../../images/exchange-logo-02.png" class="lazy"
                         alt="">
                </li>
                <li>
                    <img src="../../images/pixel.png" data-original="../../images/exchange-logo-03.png" class="lazy"
                         alt="">
                </li>
                <li>
                    <img src="../../images/pixel.png" data-original="../../images/exchange-logo-04.png" class="lazy"
                         alt="">
                </li>
                <li>
                    <img src="../../images/pixel.png" data-original="../../images/exchange-logo-05.png" class="lazy"
                         alt="">
                </li>
                <li>
                    <img src="../../images/pixel.png" data-original="../../images/exchange-logo-06.png" class="lazy"
                         alt="">
                </li>
                <li>
                    <img src="../../images/pixel.png" data-original="../../images/exchange-logo-07.png" class="lazy"
                         alt="">
                </li>
            </ul>
        </div>
    </div>
</main>
${require('../parts/footer.html')}

</body>
</html>
