.advantages-section {
  position: relative;
  padding-top: 240px;
  padding-bottom: 195px;
  @include bp(lg) {
    padding: 140px 0;
  }
  @include bp(xs) {
    padding: 90px 0;
  }
  & picture {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }
}

.advantages-title {
  width: fit-content;
  margin: 0 auto 84px;
  padding: 0 37px 33px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 11px;
  border-bottom: 2px solid $green-accent;
  text-align: center;
  @include bp(xs) {
    font-size: 22px;
    padding: 0 37px 25px;
    margin-bottom: 45px;
  }
}

.advantages-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 94px;
  @include bp(xs) {
    margin-bottom: 60px;
    gap: 0;
    margin-top: -30px;
  }
}

.advantages-item {
  width: 525px;
  min-height: 519px;
  padding: 95px 37px 83px 62px;
  background-color: rgba(#043451, 0.8);
  box-shadow: 6px 6px 6px rgba(#000, 0.25);
  border-radius: 11px;
  @include bp(sm) {
    padding: 40px;
    min-height: unset;
  }
  @include bp(xs) {
    padding: 40px 30px;
    max-width: 100%;
    margin-top: 30px;
  }
}

.advantages-item-title {
  margin-bottom: 49px;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  @include bp(xs) {
    font-size: 26px;
    margin-bottom: 25px;
  }
}

.advantages-item-text {
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  color: #fff;
  @include bp(xs) {
    font-size: 16px;
  }
}

.advantages-link {
  max-width: 522px;
  margin: 0 auto 309px;
  @include bp(lg) {
    margin-bottom: 200px;
  }
  @include bp(xs) {
    margin-bottom: 90px;
  }
}

.advantages-title-bot {
  max-width: 940px;
  margin: 0 auto 98px;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  color: #fff;
  @include bp(xxl) {
    font-size: 50px;
  }
  @include bp(lg) {
    font-size: 44px;
  }
  @include bp(sm) {
    font-size: 34px;
    margin-bottom: 80px;
  }
  @include bp(xs) {
    font-size: 22px;
    margin-bottom: 50px;
  }
}

.receipts__title {
  display: block;
  margin-bottom: 43px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  color: #fff;
  letter-spacing: 7px;
  text-transform: uppercase;
  position: relative;
  @include bp(md) {
    width: fit-content;
    padding: 0 37px 33px;
    border-bottom: 2px solid $green-accent;
    margin: 0 auto 30px;
  }
}

.receipts__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  max-width: 1652px;
  margin: 0 auto 134px;
  @include bp(md) {
    margin: 0 auto 90px;
    flex-wrap: wrap;
  }
  @include bp(xs) {
    margin-bottom: 60px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 242px);
    height: 2px;
    background-color: $green-accent;
    @include bp(md) {
      display: none;
    }
  }
  & li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 88px;
    @include bp(xxxl) {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include bp(lg) {
      width: 16.66666%;
    }
    @include bp(md) {
      padding-top: 50px;
      width: 33.33333%;
    }
    @include bp(xs) {
      padding-top: 30px;
      width: 50%;
    }
    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 37px;
      background-color: $green-accent;
      @include bp(md) {
        display: none;
      }
    }

    &:last-child {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 2px;
        background-color: $green-accent;
        @include bp(md) {
          display: none;
        }
      }
    }

    &:first-child {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 2px;
        background-color: $green-accent;
        @include bp(md) {
          display: none;
        }
      }
    }

    & svg {
      margin-bottom: 31px;
      @include bp(xs) {
        max-height: 45px;
        margin-bottom: 20px;
      }
    }

    & span {
      max-width: 223px;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 700;
      text-align: center;
      color: #fff;
      letter-spacing: 2px;
      text-transform: uppercase;
      @include bp(lg) {
        max-width: 100%;
        font-size: 16px;
      }
      @include bp(xs) {
        font-size: 12px;
      }
    }
  }
}

.receipts__link {
  max-width: 522px;
  margin: 0 auto;
}








