// Переменные для приложения и всех модулей

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$blue: #327292;
$dark-blue: #043451;
$blue-accent: #2B3A57;
$red: #C8414B;
$green: #5CAEA0;
$green-accent: #37B1A0;
$grey: #CFD5DA;
$shadow: 1px 1px 50px 5px rgba(4, 52, 81, 0.08);
$gradient: linear-gradient(90deg, rgba(3,29,44,1) 0%, rgba(9,127,151,1) 100%);
$default: "Montserrat";
