<footer class="footer">
    <div class="container-lg">
        <div class="footer__top">
            <div class="footer__left">
                <div class="footer__logo">
                    <a href="javascript:void(0)">
                        <img src="../../images/footer-logo.svg" alt="logo">
                    </a>
                    <span>Where sustainability meets the global economy.</span>
                </div>
                <div class="footer__contacts">
                    <a href="tel:6581684248">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26.487" height="25.738"
                             viewBox="0 0 26.487 25.738">
                            <g id="Сгруппировать_102" data-name="Сгруппировать 102"
                               transform="translate(-0.749 29.921)">
                                <g id="Сгруппировать_101" data-name="Сгруппировать 101"
                                   transform="translate(1.75 -28.887)">
                                    <path id="Контур_67" data-name="Контур 67"
                                          d="M19.923,24.063A19.421,19.421,0,0,1,0,5.173,7.046,7.046,0,0,1,2.763.92a1.826,1.826,0,0,1,2.763.144L8.58,3.876a1.928,1.928,0,0,1-.145,2.74L7.2,7.625a1.925,1.925,0,0,0-.073,2.74l6.908,6.921a2.035,2.035,0,0,0,2.763.072l1.382-1.514a1.883,1.883,0,0,1,2.69.144L23.923,18.8a2.073,2.073,0,0,1-.073,2.74A6.52,6.52,0,0,1,19.923,24.063Z"
                                          transform="translate(0 -0.363)" fill="none" stroke="#fff"
                                          stroke-linecap="square" stroke-miterlimit="8" stroke-width="2"/>
                                </g>
                            </g>
                        </svg>
                        +65 8168 4248
                    </a>
                    <a href="mailto:info@aircarbon.co">
                        <svg xmlns="http://www.w3.org/2000/svg" width="27.149" height="17.016"
                             viewBox="0 0 27.149 17.016">
                            <g id="Сгруппировать_100" data-name="Сгруппировать 100"
                               transform="translate(-0.38 22.121)">
                                <g id="Сгруппировать_99" data-name="Сгруппировать 99"
                                   transform="translate(1.75 -20.75)">
                                    <path id="Контур_66" data-name="Контур 66"
                                          d="M24.408,7.472v7.173H0V0H24.408V7.472M0,0,12.254,7.272,24.408,0"
                                          fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="8"
                                          stroke-width="2"/>
                                </g>
                            </g>
                        </svg>
                        info@aircarbon.co</a>
                </div>
            </div>
            <div class="footer__right">
                <div>
                    <span>SINGAPORE</span>
                    <p>The Centrepoint<br>
                        176 Orchard Rd, #05-05<br>
                        Singapore 238843
                    </p>
                </div>
                <div>
                    <span>ABU DHABI</span>
                    <p>ADGM Square<br>
                        Al Maqam Tower, 23rd Floor<br>
                        Abu Dhabi, UAE
                    </p>
                </div>
            </div>
        </div>
        <div class="footer__bot">© 2022 ACX</div>
    </div>
</footer>
<div class="mfp-hide">
    <div class="popup" id="question-popup">
        <button title="Close (Esc)" type="button" class="mfp-close">
            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M24.0349 10.792L18.5003 16.3266L12.9657 10.792L10.792 12.9657L16.3266 18.5003L10.792 24.0349L12.9657 26.2087L18.5003 20.6741L24.0349 26.2087L26.2087 24.0349L20.6741 18.5003L26.2087 12.9657L24.0349 10.792Z"
                    fill="white"/>
            </svg>
        </button>
        <span class="popup-title">Свяжитесь с нами!</span>
    </div>
</div>
